/*
General Body Design
*/

body {
  padding-top: 3.5rem;
}

/*
Navigation
*/

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.videoloop {
  padding-top: 150px;
  padding-bottom: 150px;
}

.hfh-head {
  font-size: 12em;
  font-weight: 700;
  opacity: 0.7;
}

.hfh-caption {
  font-size: 1.2em;
  font-weight: 300;
  opacity: 0.7;
}

header {
  position: relative;
  background-color: black;
  height: 60vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.quicklinks {
  padding-top: 50px;
  padding-bottom: 50px;
}

.end {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.oweek {
  padding-top: 50px;
  padding-bottom: 50px;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.2) 100%), url("../assets/img/zen.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  color: #FFF;
}

.light {
    font-weight: 300;
}
