/*
General Body Design
*/

body {
  padding-top: 58px;
}

/*
Navigation
*/

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

/*
Text Styles
*/

.light {
  font-weight: 300;
}

.text-white {
  color: #FFF;
}

.text-muted-white {
  color: #DDD;
}

/*
Overwrites
*/

.container {
  position: relative;
}

.social-icons:hover {
  opacity: 0.75;
}

.card {
  width: 100% !important;
}
