/*
    Page Header
*/

.pg-header {
    padding: 2rem 2rem;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.3) 100%), url("../assets/img/beer_bike/colorpowder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
    color: #FFF;

    margin-bottom: 2rem;
}

.pg-header h1 {
    font-size: 300%;
}


/*
About/History
*/
.about-history-bottom {
    padding-top: 270px;
    padding-bottom: 270px;
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 80%), url("../assets/img/scenery/zen_night.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/*
Government/H-Team
*/
.pg-header-hteam {
    padding-top: 280px;
    padding-bottom: 40px;
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 80%), url("../assets/img/h-team/h-team-new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/*
Resources
*/
.pg-header-resources {
    padding-top: 280px;
    padding-bottom: 40px;
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 80%), url("../assets/img/photo_week_2022/quintana_beach_2022_cropped.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/*
Resources sub-page
*/
.pg-header-resources-sub {
    padding: 2rem 2rem;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.3) 100%), url("../assets/img/Civil_War_2023_Group_Photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
    color: #FFF;

    margin-bottom: 2rem;
}