<!--FOOTER-->
<footer class="container">
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>&copy; Hanszen College 2019<br><small>6350 Main Street, Houston, TX 77005</small></p>
        </div>
        <div class="col-md-6 text-md-right">
          <p class="small">Designed by <a href="http://berkalpyakici.com" target="blank">Alp Yakici</a> for the culture!</p>
        </div>
      </div>
    </footer>

    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

<!--END FOOTER-->