<!--FOOTER-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="text-muted" align="center">
                    © Hanszen College {{ site.time | date: '%Y' }}.
                    <a href="https://www.google.com/maps/place/Hanszen+College">6350 Main Street, Houston, TX 77005</a>
                    <br>
                    Adapted from <a href="http://www.lovett.rice.edu">Lovett College's Website</a>
                    (<a href="https://github.com/nguyenkvi/lovett-college">source</a>).
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!--  Site-wide Background -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("/img/gradient.jpg");
</script>


<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65047554-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
<!--END FOOTER-->