<!--FOOTER-->
<footer class="container">
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>&copy; Hanszen College 2019<br><small>6350 Main Street, Houston, TX 77005</small></p>
        </div>
        <div class="col-md-6 text-md-right">
          <p class="small">Designed by <a href="http://berkalpyakici.com" target="blank">Alp Yakici ('22)</a> for the culture!</p>
          <p class="small"><a href="https://forms.gle/UNqvs6HWDFpThdVFA" target="_blank">Website Change Requests and Feedback</a></p>
        </div>
      </div>
    </footer>

    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-65047554-1', 'auto');
        ga('send', 'pageview');
    </script>
  </body>
</html>

<!--END FOOTER-->