<!--HEADER-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if page.title %}
        {{ page.title }}
        {% else %}
        Hanszen College
        {% endif %}
    </title>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto|Karla' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
{% include nav.html %}
<!--END HEADER-->