  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow-sm">
      
      <a class="navbar-brand" href="/">
        <object type="image/svg+xml" data="/assets/hanszen_crest.svg" height="32px" class="align-middle"></object>
      </a>
      <a class="navbar-brand" href="/">
         Hanszen College
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Navigation Bar-->
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

          <!--Opportunities-->
          <li class="nav-item">
            <a class="nav-link" href="/opportunities">Opportunities</a>
          </li>

          <!--O-Week-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown00" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">O-Week</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/oweek/welcome">Welcome Letter</a>
              <a class="dropdown-item" href="/oweek/about">What is O-Week?</a>
              <!-- Will release soon -->
              <!-- <a class="dropdown-item" href="/oweek/groups">Advisors and Groups</a> -->
              <a class="dropdown-item" href="/oweek/morepeople">Additional O-Week Personnel</a>
              <!-- <a class="dropdown-item" href="/oweek/book">O-Week Book</a> -->
              <a class="dropdown-item" href="/oweek/faq">FAQ</a>
              <a class="dropdown-item" href="/oweek/contact">Contact</a>
            </div>
          </li>

          <!--About-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/about/history">History</a>
              <a class="dropdown-item" href="/about/traditions">Traditions</a>
              <a class="dropdown-item" href="/about/facilities">Facilities and Spaces</a>
              <a class="dropdown-item" href="/about/beer_bike">Beer Bike!</a>
              <a class="dropdown-item" href="/about/genealogy">O-Week Genealogy</a>
            </div>
          </li>
          
          <!--Leadership-->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leadership</a>
              <div class="dropdown-menu" aria-labelledby="dropdown02">
                <a class="dropdown-item" href="/government/h-team">H-Team</a>
                <a class="dropdown-item" href="/government/cabinet">Cabinet</a>
                <a class="dropdown-item" href="/government/justice">Justice League</a>
                <hr>
                <a class="dropdown-item" href="/government/minutes">Minutes</a>
                <a class="dropdown-item" href="/government/budget">Budget</a>
                <a class="dropdown-item" href="/government/constitution">Hanszen Laws</a>
                <hr>
                <a class="dropdown-item" href="/government/committees">Committees</a>
              </div>
          </li>
          
          <!--Resources-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
             <a class="dropdown-item" href="/resources/about-resources">About</a>
             <a class="dropdown-item" href="/resources/academic">Academic</a> 
             <a class="dropdown-item" href="/resources/associates">Associates</a> 
             <a class="dropdown-item" href="/resources/health-and-wellness">Wellbeing</a>
             <a class="dropdown-item" href="/resources/financial">Financial</a>
             <a class="dropdown-item" href="/resources/community">Community</a>
             <a class="dropdown-item" href="/resources/brand">Brand</a>
            </div>
          </li>

          <!--Old Resources Page-->
          <!--
          <li class="nav-item">
            <a class="nav-link" href="/resources.html">Resources</a>
          </li>
          -->
          
          <!--Forms-->
          <li class="nav-item">
            <a class="nav-link" href="/forms">Forms</a>
          </li>
          
          <!--Calendars-->
          <li class="nav-item">
            <a class="nav-link" href="/calendars">Calendars</a>
          </li>
         
          <!--Contact-->
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
         
          <!--Give-->
          <li class="nav-item">
            <a class="nav-link" href="https://riceconnect.rice.edu/donation/support-hanszen" target="_blank">Give</a>
          </li>
        </ul>
      </div>
  </nav>
