<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div cl ass="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/crest_color.svg" width="25" style="margin-top=-10px">
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">

                <!-- Temporary Master List -->
                {% if page.categories.contains('about') %}
                <li class="dropdown active">
                {% else %}
                <li class="dropdown">
                {% endif %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Temporary Master List</a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/history.html">History</a></li>
                    </ul>
                </li>

                <!-- About -->
                {% if page.categories.contains('about') %}
                <li class="dropdown active">
                {% else %}
                <li class="dropdown">
                {% endif %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <ul class="dropdown-menu">

                        <li><a href="#">anything</a></li>
                        <!--<li><a href="/about/history.html">History</a></li>-->
                        <!--<li><a href="/about/facilities.php">Facilities</a></li>-->
                        <!--<li><a href="/about/events.php">Traditions</a></li>-->
                    </ul>
                </li>

                {% for cat in site.category-list %}
                ### {{ cat }}
                <ul>
                    {% for page in site.pages %}
                        {% for pc in page.categories %}
                            {% if pc == cat %}
                                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endif %}   <!-- cat-match-p -->
                        {% endfor %}  <!-- page-category -->
                    {% endfor %}  <!-- page -->
                </ul>
                {% endfor %}  <!-- cat -->

                <li><a href="#">{{ page.categories }} End</a></li>

                <!--&lt;!&ndash; Government &ndash;&gt;-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Government</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/government/constitution.php">Constitution</a></li>-->
                        <!--<li><a href="/government/cc.php">Central Committee</a></li>-->
                        <!--<li><a href="/government/minutes.php">Minutes</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--&lt;!&ndash; People &ndash;&gt;-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">People</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/people/masters.php">Adult Team</a></li>-->
                        <!--<li><a href="/people/paa.php">Peer Academic Advisors</a></li>-->
                        <!--<li><a href="/people/academic-fellow.php">Academic Fellows</a></li>-->
                        <!--<li><a href="/people/divisionaladvisors.php">Divisional Advisors</a></li>-->
                        <!--<li><a href="/people/rha.php">Rice Health Advisors</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li><a href="/calendar.php">Calendar</a></li>-->
                <!--<li><a href="/lovettpalooza">O-Week 2015</a></li>-->
                <!--<li><a href="/resources.php">Resources</a></li>-->
                <!--<li><a href="/contact.php">Contact</a></li>-->

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://www.facebook.com/groups/hanszen/"><img src="/img/FB-f-Logo__blue_29.png"
                                                                            width="20"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>