  <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light shadow-sm">
    <div class="container">
      <object type="image/svg+xml" data="/assets/hanszen_crest_inner.svg" height="28px"></object>
      <a class="navbar-brand pl-md-2" href="/">H.C. Hanszen College</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/about/history">History</a>
              <a class="dropdown-item" href="/about/traditions">Traditions</a>
              <a class="dropdown-item" href="/about/facilities">Facilities & Spaces</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Government</a>
              <div class="dropdown-menu" aria-labelledby="dropdown02">
                <a class="dropdown-item" href="/government/h-team">H-Team</a>
                <a class="dropdown-item" href="/government/cabinet">Cabinet</a>
                <a class="dropdown-item" href="/government/justice">Justice League</a>
                <hr>
                <a class="dropdown-item" href="/government/minutes">Minutes</a>
                <a class="dropdown-item" href="/government/budget">Budget</a>
                <a class="dropdown-item" href="/government/constitution">Hanszen Laws</a>
                <hr>
                <a class="dropdown-item" href="/government/committees">Committees</a>
              </div>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forms">Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendar">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://riceconnect.rice.edu/donation/support-hanszen" target="_blank"><i class="fas fa-gifts"></i> Give</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
