  <nav class="navbar navbar-expand navbar-light navbar-oweek bg-warning">
      <div class="container text-center">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/oweek/welcome">Welcome Letter from Coordinators</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/oweek/about">What is O-Week?</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/oweek/groups">Advisors and Groups</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/oweek/morepeople">Additional O-Week Personnel</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="/oweek/book">O-Week Book</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/oweek/faq">FAQ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/oweek/contact">Contact Coordinators</a>
              </li>
          </ul>
      </div>
  </nav>