{% include header.html %}

<div class="container">
    <h1>{{ page.title }}</h1>
    <hr>

    {{ content }}

</div>

<div class="container">
    <div class="row">
        <div class="tc_div_24874" style="width:650px;height:162.50px;border:1px solid #C0C0C0;">
            <a title="O-Week"
               href="http://www.tickcounter.com/countdown/1471183200000/america-chicago/dhm/FFFFFF3B5998000000FF0000/O-Week">O-Week</a>
            <a title="Countdown" href="http://www.tickcounter.com/">Countdown</a></div>
        <script type="text/javascript">(function () {
            var s = document.createElement('script');
            s.src = "http://www.tickcounter.com/loader.js";
            s.async = 'async';
            s.onload = function () {
                tc_widget_loader('tc_div_24874', 'Countdown', 650, ['1471183200000', 'america-chicago', 'dhm', 'FFFFFF3B5998000000FF0000', '650', 'C0C0C01', 'O\u002DWeek']);
            };
            s.onreadystatechange = s.onload;
            var head = document.getElementsByTagName('head')[0];
            head.appendChild(s);
        }());</script>
    </div>
</div>

{% include footer.html %}