{% include header.html %}

<div class="container">
    <h1>{{ page.title }}</h1>
    <hr>

    {{ content }}

</div>

<div class="container">
    <div class="row">
        <div class="tc_div_31927" style="width:100%;height:auto;border:0px solid #C0C0C0"><a title="Countdown to O-Week" href="http://www.tickcounter.com/widget/countdown/1471201200000/america-chicago/dhm/FFFFFF333333000000FF0000/0/C0C0C00/Countdown_to_O-Week">Countdown to O-Week</a><a title="Countdown" href="http://www.tickcounter.com/">Countdown</a></div><script type="text/javascript">(function(){ var s=document.createElement('script');s.src="http://www.tickcounter.com/loader.js";s.async='async';s.onload=function() { tc_widget_loader('tc_div_31927', 'Countdown', 650, ["1471183200000","america-chicago","dhm","FFFFFF333333000000FF0000","0","C0C0C00","Countdown to O-Week"]);};s.onreadystatechange=s.onload;var head=document.getElementsByTagName('head')[0];head.appendChild(s);}());</script>
    </div>
</div>

{% include footer.html %}